.profile__text {
  max-width: 336px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0 0 70px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 748px) {
  .profile__text {
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .profile__text {
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0;
  }
}