.popup_type_open-image {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 1s linear, visibility 1s linear;
  opacity: 0;
  visibility: hidden;
}