.popup__input-error {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 13px;
color: rgba(255, 0, 0, 1);
margin-top: 5px;
margin-left: 0;
opacity: 0;
min-height: 26px;
}