.profile__main-info {
  max-width: 337px;
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  box-sizing: border-box;
}

@media screen and (max-width: 748px) {
  .profile__main-info {
    text-align: center;
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .profile__main-info {
    margin-left: 28px;
  }
}