.profile__avatar {
  max-width: 120px;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  margin-bottom: 51px;
  margin-top: 40px;
  z-index: 0;
}

.profile__avatar:hover {
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .profile__avatar {
    margin-top: 42px;
    margin-bottom: 24px;
  }
}